.progress-bar {
  height: 50px;
  background-color: #E0E0E0;
}

.progress-bar__progress {
  height: 50px;
  background-color: black;
}

.progress-bar__progress--green {
  background-color: #00E676;
}

.progress-bar__progress--yellow {
  background-color: #FFD600;
}

.progress-bar__progress--red {
  background-color: #FF3D00;
}
